{% if page.comment != false %}
<script src="https://giscus.app/client.js"
        data-repo="oxmhpark/oxmhpark"
        data-repo-id="R_kgDOLF1EaQ"
        data-category="Comments"
        data-category-id="DIC_kwDOLF1Eac4CceU0"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="light"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
