{% if page.comment != false %}
<script src="https://giscus.app/client.js"
        data-repo="oxmhpark/blog"
        data-repo-id="R_kgDOLF1EaQ"
        data-category="Comments"
        data-category-id="DIC_kwDOLF1Eac4CceU0"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
