<div class="archives archives-type-terms archives-type-years">
    <h2>연도</h2>
    <ul class="list-terms list-years">
    {% assign year = '' %}
    {% assign newYear = false %}
    {% for post in site.posts %}
        {% capture postYear %}{{ post.date | date: site.format.year }}{% endcapture %}
        {% if year != postYear %}
        <li><a href="{{ site.collections.archives.permalink | replace: ':path', postYear }}">{{ postYear }}</a></li>
        {% assign year = postYear %}
        {% endif %}
    {% endfor %}
    </ul>
</div>
  
  