<div class="archives archives-type-terms archives-type-years">
    <h2>연도</h2>
    <ul class="list-terms list-years">
    {% assign year = '' %}
    {% assign newYear = false %}
    {% for post in site.posts %}
        {% capture yearName %}{{ post.date | date: site.format.year }}{% endcapture %}
        {% if year != yearName %}
        <li><a href="{{ site.collections.years.permalink | replace: ':title', yearName }}">{{ yearName }}</a></li>
        {% assign year = yearName %}
        {% endif %}
    {% endfor %}
    </ul>
</div>
  
  