<article class="entry entry-format-excerpt">
  <h2 class="entry-title"><a href="{{ post.url }}">{% if post.title %}{{post.title}}{% if post.subtitle %}<span>{{ post.subtitle }}</span>{% endif %}{% else %}{{ post.excerpt | strip_html }}{% endif %}</a></h2>

  <div class="entry-meta">
    <p class="entry-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.format.date }}</p>
    {% if post.last_modified_at %}
    <p class="entry-date entry-date-modified" datetime="{{ post.last_modified_at | date_to_xmlschema }}">(Updated: {{ post.last_modified_at | date: site.format.date }})</p>
    {% endif %}
  </div>

  <div class="entry-body">
    {{ post.excerpt }}
  </div>

  <div class="read-more">
    <a href="{{ post.url }}">{{ site.format.read_more.label }}</a>
  </div>
</article>
