<article class="entry entry-format-excerpt">
  {% include parts-cover.html %}
  <h1 class="entry-title"><a href="{% include parts-url.html %}">{% include parts-title.html %}</a></h1>

  <div class="entry-meta">
    <p class="entry-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.format.date }}</p>
    {% if post.last_modified_at %}
    <p class="entry-date entry-date-modified" datetime="{{ post.last_modified_at | date_to_xmlschema }}">(Updated: {{ post.last_modified_at | date: site.format.date }})</p>
    {% endif %}
  </div>

  <div class="entry-body">
    {{ post.excerpt }}
  </div>

  <div class="read-more">
    <a href="{{ post.url }}">{{ site.format.read_more.label }}</a>
  </div>
</article>
