body:after {
  background: linear-gradient(to right, #ffffff 0, #2196F3 33%, #E91E63 66%, #000 100%);
  width: 100%;
  height: 5px;
  top: 0;
  position: absolute;
  left: 0;
  content: '';
}

#bar {
  background: #000;
  height: 7px;
  background-size: cover;
  background-position: left 60%;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

.wrapper-container {
  min-height: 100%;
  position: relative;

  .wrapper-masthead {
    margin-bottom: 25px;
  }

  .wrapper-main {}

  .wrapper-footer {
    min-height: 100px;
  }
}
