.archives {
  .entry {
    .archives {
    }
  }
}

.archives-type-terms
{
  margin: 1.5em 0;

  h2
  {
    margin: 0;
  }
  
  ul.list-terms
  {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li
    {
      display: inline;
      word-wrap: normal;
      word-break: keep-all;
      white-space: nowrap;
    }
  }
}

.view-archives
{
  display: block;
  clear: both;
  margin: 1em 0;
  text-align: right;
}

#search-container {
  text-align: left;
}

#search-input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  background-color: #fff3ff;
}

.archives-type-links
{
  margin: 1.5em 0;

  ul.list-links
  {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li
    {
      h2
      {
        font-size: inherit;
      }

      p
      {
        :first-child
        {
          margin: 0;
        }
      }
    }
  }
}