/* @import url(https://use.typekit.net/xri2bkj.css); */
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@100;300;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@100;300;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@100;300;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500&display=swap);

// Font Families
$font-sans-serif: "Noto Sans CJK KR", "Noto Sans KR", "Noto Sans CJK JP", "Noto Sans JP", "Noto Sans CJK TC", "Noto Sans TC", sans-serif;
$font-serif: "Noto Serif CJK KR", "Noto Serif KR", "Noto Serif CJK JP", "Noto Serif JP", "Noto Serif CJK TC", "Noto Serif TC", serif;
$font-monospace: 'Bitstream Vera Sans Mono','Courier', monospace;

// Typography
$font-title: $font-sans-serif;
$font-menu: $font-sans-serif;
$font-heading: $font-sans-serif;
$font-text: $font-serif;
$font-quote: $font-serif;
$font-meta: $font-sans-serif;
$font-form: $font-sans-serif;
$font-code: $font-monospace; // Mobile breakpoints

// Markup Colors
$color-link-default: #4183C4;
$color-link-hover: #224499;
$color-quote-background: #EEEEEE;
$color-quote-text: #333;
$color-selected-background: #eee;
$color-selected-text: #000;
$color-code-background: #EEEEEE;
$color-code-text: #666666;

// Layout Colors
$color-background: #fff;
$color-title-text: #666;
$color-title-text-hover: #333;
$color-nav-text: #666;
$color-nav-text-hover: #333;
$color-heading-text: #000;
$color-meta-text: #999;
$color-body-text: #333;
$color-pagination-background: $color-background;
$color-pagination-text: $color-link-default;
$color-pagination-background-hover: $color-selected-background;
$color-pagination-text-hover: $color-selected-text;

// Contents
$decoration-hr-color-line: #999999;
$decoration-hr-color-content: $decoration-hr-color-line;
$decoration-hr-content: " · · · ";

// Responsives
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
