sup[role="doc-noteref"] {
  font-size: 0.8em;

  a[rel="footnote"] {
    &:before {
      display: inline;
      content: '※';
    }
  }
}

div[role="doc-endnotes"] {
  font-size: 0.9em;

  &:before {
    display: block;
  }

  li[role="doc-endnote"] {
    list-style-type: gregorian;
    list-style-position: outside;

    &:before {
      display: inline;
      content: '※'
    }

    p {
      display: inline;
      margin: 0;
    }
  }
}
