.bookmarks {
  ul.bookmarks {
    display: block;
    margin: 0;
    padding: 0;
    
    li.bookmark {
      list-style-type: none;
      display: block;
      margin: 1em 0;
      padding: 0;

      a {
        &:before {
          display: none;
        }
      }

      p {
        margin: 0;
      }

      &.bookmark-with-banner {
        a {
          img {
            display: inline-block;
          }

          span {
            display: none;
          }
        }
      }

      &.bookmark-without-banner {
        a {
          span {
            display: block;
          }
        }
      }
    }
  }
}
