.gsc-control-cse {
  background-color: inherit !important;
  border: none !important;

  table,
  tr,
  td {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  input[type="text"] {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
  }
}