sup[role="doc-noteref"] {
  font-size: 0.7em;

  a[rel="footnote"] {
    &:before {
      display: inline;
      content: '※';
    }
  }
}

div[role="doc-endnotes"] {
  font-size: 0.7em;

  &:before {
    display: block;
  }

  li[role="doc-endnote"] {
    list-style-position: inside;

    &:before {
      display: inline;
      content: '※'
    }
  }
}
