.title {
  /*
  color: $color-title-text;
  */

  .subtitle {
    /*
    color: $color-subtitle-text;
    */
    font-size: 0.4em;
    font-weight: normal;

    &:before {
      display: inline;
      content: " - ";
    }
  }
}

.entry-format-list-item {
  .subtitle {
    display: inline;
    font-size: inherit;
  }
}
