.entry {
  padding-top: 2em;

  img.cover {
    display: block;
    width: 100%;
    height: auto;
  }

  .entry-title {
    margin: 0;
    font-size: 60px;
    font-family: $font-text;
    text-align: left;
    font-weight: bold;
    font-kerning: auto;
    font-feature-settings: "kern","liga","dlig","hlig","cswh";
    line-height: 1.2;
    
    @include mobile {
      font-size: 46px;
    }

    img.banner {
      display: block;
    }

    .title {
      /*
      color: $color-title-text;
      */

      .title-wrap {
        display: inline-block;
      }
    
      .subtitle {
        display: inline-block;
        /*
        color: $color-subtitle-text;
        */
        font-size: 0.4em;
        font-weight: normal;
    
        &:before {
          display: inline;
          content: " - ";
        }
      }
    }
  }

  .entry-meta {
    cursor: default;
    color: #999;
    font-size: 0.85em;
    font-family: $font-meta;

    .entry-address {
      display: block;
      margin: 0;
    }

    .entry-author {
      display: none;
    }

    .entry-date {
      display: inline;

      a {
        color: inherit;
      }

      /*
      &.entry-date-modified {
        color: #AAA;
      }
      */
    }

    .entry-terms {
      display: inline;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        margin: 0 0 0 0.5em;

        &:first
        {
          margin-left: 0;
        }

        a {
          color: inherit;

          &:before {
            content: "#";
            display: inline;
          }
        }
      }

      /*
      &.entry-categories {
        li {
          a {
            &:before {
              content: "#";
              display: inline;
            }
          }
        }
      }
      
      &.entry-tags {
        li {
          a {
            &:before {
              content: "#";
              display: inline;
            }
          }
        }
      }
      */  
    }
  }

  .entry-body {
    margin-top: 1em;

    & > * {
      margin: 0;
    }

    & > * + * {
      margin-top: 1em;
    }
  }

  .read-more {
    display: block;
    clear: both;
    margin: 1em 0;
    font-size: 15px;
  }
}