.entry {
  &.entry-format-bookmark {
    .entry-title {
      display: inline;
    }
    
    .read-more {
      display: inline;

      a {
        color: var(--color-meta-text);

        &:hover {
          color: var(--color-meta-text);
        }
      }
    }

    .entry-meta {
      display: none;
    }
  }
}