---
layout: default
---
{% assign post = page %}
{% include post-format-fulltext-without-metadata.html %}

{% if site.data.links %}
<div class="archives-type-links">
<ul class="list-links">
{% for bookmark in site.data.links %}
    <li>
        <h2><a href="{{ bookmark.link }}" title="{{ bookmark.description }}">{% if bookmark.banner and bookmark.banner != "" %}<img src="{{ bookmark.banner }}" alt="{{ bookmark.name }}" />{% else %}{{ bookmark.name }}{% endif %}</a></h2>
        {% if bookmark.description %}<p>{{ bookmark.description }}</p>{% endif %}
    </li>
{% endfor %}
</ul>
</div>
{% endif %}