---
layout: default
---
{% assign post = page %}
{% include post-format-fulltext-without-metadata.html %}

<div class="archives archive-type-terms">
  {% if site.data.categories %}
  <ul class="list-categories">
    {% for category in site.data.categories %}
    <li><a href="{{ category.permalink }}">{{ category.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if site.data.tags %}
  <ul class="list-tags">
    {% for tag in site.data.tags %}
    <li><a href="{{ tag.permalink }}">#{{ tag.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
