---
---
{% assign body_class = "body-archive body-archive-tag" %}
{% include base-header.html %}

{% assign post = page %}
{% include post-format-fulltext-without-metadata.html %}

<div class="archives archive-type-posts">
  {% capture archiveName %}{{ post.title }}{% endcapture %}
  {% for post in site.entry_posts %}
    {% for tag in post.tags %}
      {% if archiveName == tag %}
        {% assign content = post.content %}
        {% include post-format-list-item.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

{% include base-footer.html %}
