---
---
{% assign body_class = "body-archive body-archive-year" %}
{% include base-header.html %}

{% assign post = page %}
{% include post-format-fulltext-without-metadata.html %}

{% assign thisYear = post.title | string | append: "-01-01t00:00:00.00+09:00" | date %}
{% assign nextYear = post.title | number | plus: 1 | string | append: "-01-01t00:00:00.00+09:00" | date %}
{% assign posts = site.entry_posts | where_exp: "post", "post.date >= thisYear and post.date < nextYear" | sort_natural: "date" | reverse %}
{% include list-posts-item.html %}

{% include base-footer.html %}
