---
class: "body-archive body-archive-year"
---
{% include base-header.html %}

{% assign post = page %}
{% include post-format-fulltext-without-metadata.html %}

<div class="archives archive-type-posts">
  {% capture archiveName %}{{ post.title }}{% endcapture %}
  {% for post in site.posts %}
  {% capture postYear %}{{ post.date | date: site.format.year }}{% endcapture %}
  {% if archiveName == postYear %}
    {% assign content = post.content %}
    {% include post-format-list-item.html %}
  {% endif %}
  {% endfor %}
</div>

{% include base-footer.html %}
